/* CSS Customization inside the editor renderer, for the default markdown */
.markedown-div > h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}

.markedown-div code {
  padding: 0 8px;
}

.markedown-div code::before,
code::after {
  display: none;
}

.markedown-div > *:last-child {
  margin-bottom: 0;
}
