/* CSS Customization inside the editor renderer, for the default markdown */
.markedown-div > h1,
.markedown-div > h2,
.markedown-div > h3,
.markedown-div > h4,
.markedown-div > h5,
.markedown-div > h6 {
  margin: 16px 0;
}

.markedown-div code {
  padding: 0 8px;
}

.markedown-div code::before,
code::after {
  display: none;
}

.markedown-div > *:first-child {
  margin-top: 0;
}

.markedown-div > *:last-child {
  margin-bottom: 0;
}
